# ================================
# .env for development environment
# ================================

# ====================================
# Rails Environment and Execution Mode
# ====================================
RAILS_ENV=development
NODE_ENV=development
DISABLE_SPRING=false
REQUIRE_MASTER_KEY=false

# ============================
# Rails Code Loading & Caching
# ============================
PERFORM_CACHING=
CACHE_CLASSES=false
CACHE_STORE=memory_store
EAGER_LOAD=false
CONSIDER_ALL_REQUESTS_LOCAL=
FILE_WATCHER=ActiveSupport::EventedFileUpdateChecker
ACTION_CONTROLLER_PERFORM_CACHING=false
ACTION_CONTROLLER_ENABLE_FRAGMENT_CACHE_LOGGING=true
ACTION_VIEW_CACHE_TEMPLATE_LOADING=false

# ====================
# Static File Handling
# ====================
SERVE_STATIC_FILES=true
PUBLIC_FILE_SERVER_ENABLED=true
PUBLIC_FILE_SERVER_CACHE_EXTRA=
PUBLIC_FILE_SERVER_CACHE_SECONDS=0

# =======================
# Asset Pipeline Settings
# =======================
ASSETS_COMPILE=true
ASSETS_DEBUG=true
ASSETS_DIGEST=true
ASSETS_MANIFEST=public/assets
ASSETS_QUIET=true

# =====================
# Logging Configuration
# =====================
LOG_LEVEL=debug
LOG_TAGS=
RAILS_LOG_TO_STDOUT=false
LOGS_LOCATION=./logs/
ACTIVE_RECORD_VERBOSE_QUERY_LOGS=true
DEPRECATION_BEHAVIOR=log
ACTIVE_SUPPORT_DEPRECATION=stderr
ACTIVE_SUPPORT_DISALLOWED_DEPRECATION=raise
ACTIVE_SUPPORT_DISALLOWED_DEPRECATION_WARNINGS="[]"

# ================
# Security and SSL
# ================
FORCE_SSL=false
ACTION_CONTROLLER_ALLOW_FORGERY_PROTECTION=false
ACTION_DISPACTH_SHOW_EXCEPTIONS=false

# ======================
# Database Configuration
# ======================
DB_NAME=roadmap
DB_POOL=16
ACTIVE_RECORD_MIGRATION_ERROR=page_load
ACTIVE_RECORD_DUMP_SCHEMA_AFTER_MIGRATION=false

# ===========================
# Mailer (SMTP) Configuration
# ===========================
ACTION_MAILER_DELIVERY_METHOD=smtp
ACTION_MAILER_PERFORM_CACHING=false
ACTION_MAILER_RAISE_DELIVERY_ERRORS=false
ACTION_MAILER_DEFAULT_URL_OPTIONS_HOST=localhost:3000
ACTION_MAILER_DEFAULT_URL_OPTIONS_PROTOCOL=http
ACTION_MAILER_SMTP_SETTINGS_ADDRESS=mailcatcher
ACTION_MAILER_SMTP_SETTINGS_PORT=1025
MAILBOX_ADDRESS=""

# =====================
# I18n and Localization
# =====================
I18N_ENFORCE_AVAILABLE_LOCALES=false
I18N_FALLBACKS=false

# ======================
# Active Storage Service
# ======================
ACTIVE_STORAGE_SERVICE=local

# ================================
# Application-Specific Environment
# ================================
DMPROADMAP_HOSTS=localhost,server
HOST_URL=""
HOST_PORT=3000
CONTAINER_PORT=3000
ALPINE_SUFFIX=
WICKED_PDF_PATH=/bundle/bin/wkhtmltopdf
ORCID_SANDBOX=true
ORCID_MEMBER=true

# =============================
# Application-Specific settings
# =============================
APPLICATION_NAME='DMPRoadmap'
APPLICATION_ARCHIVED_ACCOUNTS_EMAIL_SUFFIX='@removed_accounts-example.org'
APPLICATION_API_MAX_PAGE_SIZE=100
APPLICATION_API_DOCUMENTATION_URLS_VO='https://github.com/DMPRoadmap/roadmap/wiki/API-V0-Documentation'
APPLICATION_API_DOCUMENTATION_URLS_V1='https://github.com/DMPRoadmap/roadmap/wiki/API-V1-Documentation'
APPLICATION_WELCOME_LINK_TITLE_1='Digital Curation Centre'
APPLICATION_WELCOME_LINK_URL_1='https://dcc.ac.uk/'
APPLICATION_WELCOME_LINK_TITLE_2='UC3: University of California Curation Center'
APPLICATION_WELCOME_LINK_URL_2='https://www.cdlib.org/uc3/'
APPLICATION_WELCOME_LINK_TITLE_3='UK funder requirements for Data Management Plans'
APPLICATION_WELCOME_LINK_URL_3='http://www.dcc.ac.uk/resources/data-management-plans/funders-requirements'
APPLICATION_PREFERENCES_EMAIL_USERS_NEW_COMMENT=false
APPLICATION_PREFERENCES_EMAIL_USERS_ADMIN_PRIVILEGES=true
APPLICATION_PREFERENCES_EMAIL_USERS_ADDED_AS_COOWNER=true
APPLICATION_PREFERENCES_EMAIL_USERS_FEEDBACK_REQUESTED=true
APPLICATION_PREFERENCES_EMAIL_USERS_FEEDBACK_PROVIDED=true
APPLICATION_PREFERENCES_OWNERS_AND_COOWNERS_VISIBILITY_CHANGED=true
APPLICATION_RESTRICT_ORGS=false
APPLICATION_DISPLAY_CONTRIBUTOR_PHONE_NUMBER=false
APPLICATION_REQUIRE_CONTRIBUTOR_NAME=false
APPLICATION_REQUIRE_CONTRIBUTOR_EMAIL=false
APPLICATION_GUIDANCE_COMMENTS_TOGGLEABLE=true
APPLICATION_GUIDANCE_COMMENTS_OPENED_BY_DEFAULT=true

# ============
# Organisation  
# ============
ORGANISATION_NAME='Curation Center'
ORGANISATION_ABBREVIATION='CC'
ORGANISATION_URL='https://github.com/DMPRoadmap/roadmap/wiki'
ORGANISATION_COPYWRITE_NAME='Curation Centre (CC)'
ORGANISATION_EMAIL='tester@example.org'
ORGANISATION_DO_NOT_REPLY_EMAIL='do-not-reply@cc_curation_centre.org'
ORGANISATION_HELPDESK_EMAIL='help@example.org'
ORGANISATION_TELEPHONE='+1-123-123-1234'
ORGANISATION_ADDRESS_LINE_1='Princess Elisabeth Station'
ORGANISATION_ADDRESS_LINE_2='123 Freezing Cold Street'
ORGANISATION_ADDRESS_LINE_3='Suite 123'
ORGANISATION_ADDRESS_LINE_4='Polar Vortex, ABC-345'
ORGANISATION_ADDRESS_COUNTRY='Antarctica'
ORGANISATION_GOOGLE_MAPS_LINK='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29046286.09795864!2d-34.22768319424708!3d-63.61874004304689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb57520cc078b16a9!2sPrincess%20Elisabeth%20Station!5e0!3m2!1sen!2sus!4v1587495708129!5m2!1sen!2sus'

# ===========
# Credentials
# ===========
DB_USERNAME=<PLACE_HOLDER> 
DB_PASSWORD=<PLACE_HOLDER> 
RECAPTCHA_SITE_KEY=<PLACE_HOLDER>
RECAPTCHA_SECRET_KEY=<PLACE_HOLDER>
DRAGONFLY_SECRET=<PLACE_HOLDER>
DRAGONFLY_AWS=<PLACE_HOLDER>
AWS_BUCKET_NAME=<PLACE_HOLDER>
AWS_ACCESS_KEY_ID=<PLACE_HOLDER>
AWS_SECRET_ACCESS_KEY=<PLACE_HOLDER>
AWS_REGION=<PLACE_HOLDER>
DEVISE_SECRET_KEY=<PLACE_HOLDER>
DEVISE_PASSWORD_PEPPER=<PLACE_HOLDER>
TRANSLATION_IO_API_APP_KEY=<PLACE_HOLDER>
TRANSLATION_IO_API_CLIENT_KEY=<PLACE_HOLDER>
MESSAGE_VERIFIER_SECRET_KEY_BASE=<PLACE_HOLDER>